<h1>new workout</h1>
<%= form_for :workout, url: workouts_path do |f| %>
  <p>
    <%= f.label :Workout %><br>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Home', controller: 'welcome' %>
