<h1>Users#new</h1>
<h1>new workout</h1>
<%= form_for(@user) do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Home', controller: 'welcome' %>

<p>Find me in app/views/users/new.html.erb</p>
