<% provide(:title, 'Sign up') %>
<div class = "form form-light">
<h1>Sign Up</p>
  <%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="error messages">
      <h2>Form is invalid</h2>
      <ul>
        <%= user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="mr1">
      <%= f.label :name %>
  </div>
    <%= f.text_field :name %>

    <div class="mr1">
    <%= f.label :email %>
    </div>
    <%= f.text_field :email %>

    <div class="mr1">
    <%= f.label :password %>
    </div>
    <%= f.password_field :password %>

    <div class="mr1">
    <%= f.label :password_confirmation %>
    </div>
    <%= f.password_field :password_confirmation %>

  <div class="actions"><%= f.submit %></div class=>
<% end %>

<%= link_to 'Home', controller: 'welcome' %>
</form>
