<h1>Workout App</h1>
<%= link_to 'My Workouts', controller: 'workouts' %></br>
<%= link_to 'New Workout', controller: 'workouts', action: 'new' %></br>
<%= link_to 'Sign up', signup_path, class: "large_button" %></br>
<%= link_to 'Sign in', controller: 'workouts', action: 'new' %></br>
<p><%= button_to "Try it for free!", users_path, method: :post %>
